<!-- <nav class="navbar navbar-default navbar-fixed-side"> -->

<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-default">Summary</button>
  <button type="button" class="btn btn-default">Decision</button>
</div>
<!--
<div class="row">
<p>Summary</p>
</div>
<div class="row">
<p>Decision</p>
</div>

</nav> -->
